[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pwinput = "*"
tabulate = "*"
yml = "*"
pyyaml = "*"
random-password-generator = "*"

[dev-packages]

[requires]
python_version = "3.12"
